@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Light Mode Colors */
  --background: #ffffff;
  --secondary: #f4f4f5;  
  --foreground: #ffffff; 
  --main: #09090b;       /* Text is Black */
  --muted: #71717a;      
  --primary: #18181b;    
  --line: #e4e4e7;       /* Dots are Light Grey */
  --card: #ffffff;
  --card-foreground: #09090b;
}

.dark {
  /* Dark Mode Colors */
  --background: #000000; /* Background is Black */
  --foreground: #09090b; 
  --main: #ffffff;       /* Text is White */
  --secondary: #18181b;  
  --muted: #a1a1aa;      
  --line: #27272a;       /* Dots are Dark Grey */
  --primary: #ffffff;    
  --card: #09090b;
  --card-foreground: #ffffff;
}

@theme inline {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-main: var(--main);
  --color-muted: var(--muted);
  --color-line: var(--line);
  --color-primary: var(--primary);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
}

*{
  @apply outline-none;
}

body {
 @apply bg-background text-main font-sans antialiased;
}

/* Utilities */
.main {
  @apply max-w-[90%] 2xl:max-w-[1280px] mx-auto;
}

.layout {
  @apply max-w-[90%] md:max-w-[700px] mx-auto;
}

.center {
  @apply flex items-center justify-center;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--secondary);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--muted);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--main);
}

/* button css */
.btn-primary {
  @apply bg-main text-background font-medium hover:bg-main/90 active:scale-95 transition-all;
}