@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fef7ff;
  --secondary: #faf0ff;
  --foreground: #f5e8ff;
  --main: #5a189a;
  --muted: #c77dff;
  --primary: #7b2cbf;
  --line: #e9c8ff;
}

.dark {
  --background: #10002b;
  --foreground: #240046;
  --main: #e0aaff;
  --secondary: #1a0033;
  --muted: #9d4edd;
  --line: #3c096c;
  --primary: #c77dff;
}

@theme inline {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-main: var(--main);
  --color-muted: var(--muted);
  --color-line: var(--line);
  --color-primary: var(--primary);
}

*{
  @apply outline-none
}

body {
 @apply bg-background text-main font-sans;
}

.main {
  @apply max-w-[90%] 2xl:max-w-[1280px] mx-auto;
}

.layout {
  @apply max-w-[90%] md:max-w-[700px] mx-auto;
}

.center {
  @apply flex items-center justify-center;
}

button,
.btn {
  @apply cursor-pointer flex items-center justify-center gap-2 disabled:opacity-50;
}

.btn-primary {
  @apply text-white dark:text-[#171717] bg-primary font-semibold;
}

.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  @apply hidden;
}